html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.form-input {
    margin: 10px;
    width: 25vw;  
}

.input-contner {
    display: flex;
    flex-direction: column;
}

.btn-contner {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
}

.register-btn, .login-btn {
    padding: 10px 100px;
    margin: 30px 0px;
}