html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
    width: 20vw;
}

.form-input {
    margin: 10px;
    width: 25vw;  
}

.input-contner {
    display: flex;
    flex-direction: column;
}

.btn-contner {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
}

.btn {
    padding: 10px 35px;
}

.list-group {
    width: 75%
}

.register-btn, .login-btn, .edit-btn {
    padding: 10px 100px;
    margin: 30px 0px;
}

.Client {
    background-color: deepskyblue;
}

.Admin {
    background-color: crimson;
}

.Moderator {
    background-color: aquamarine;
}
