@model IEnumerable<SiteECommerce_TP_.Models.Product>
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<main class="row row-cols-2 g-3">
@foreach (Product product in Model)
{
        <div class="col">
            <a class="card bg-dark text-dark p-0" href="https://localhost:7119/Product/Details/@product.Id" style="text-decoration:none">
                <article class="card-body p-0">
                    <img class="card-img-top" src="https://localhost:7119/images/@product.Picture" />
                    <div class="card-img-overlay">
                        <h2 class="card-title">@product.Name</h2>
                        <label class="card-text">Description: </label>
                        <p class="card-text">
                            @product.Description
                        </p>
                        <label class="card-text">Price: </label>
                        <p class="card-text">
                            @product.Price $
                        </p>
                    </div>
                </article>
            </a>
        </div>
        
    }
</main>